<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
    
    <header>
        <div>
            <img class="logo" src="../assets/img/xlcryptoweb.png" alt="logoxl">
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a href="../index.html">HOME</a>
                 <a href=".//views/noticias.html">NOTICIAS</a>
                 <a href=".//views/cursos.html">CURSOS</a>
                 <a href="#">COTIZACIONES</a>
                 <a href=".//views/contacto.html">CONTACTO</a>
                 <label for="check" class="esconder-menu">
                 &#215
                </label>
        </nav>
    </header>

    <section id="logoXL">
        <div class="contenido-logoXL">
            
        </div>
    </section>

    <main class="mainCoti">

 <div class="grid-layout">
     <div class="caja c1">
        Moneda
     </div>
          
     <div class="caja c2">
         Etiqueta
     </div>

     <div class="caja c3">
         Precio Actual
     </div>

     <div class="caja c4">
         Rendimiento historico
     </div>

     <div class="caja c5">
         Exchanges
     </div>

     <div class="caja c6">
        Bitcoin
    </div>

    <div class="caja c7">
        BTC/USDT
    </div>

    <div class="caja c8">
        42000
    </div>

    <div class="caja c9">
        150000%
    </div>

    <div class="caja c10">
        Binance
        Kucoin
        Coinlist
        Gate.io
    </div>

    <div class="caja c11">
        Ethereum
    </div>

    <div class="caja c12">
        ETH/USDT
    </div>

    <div class="caja c13">  
        3100
    </div>

    <div class="caja c14">
        70000%
    </div>

    <div class="caja c15">
        Binance
        Kucoin
        Coinlist
        Gate.io
    </div>
 </div>



</main>

<footer>

<div class="contenido--footer">
    <h3>Nuestras Redes</h3>
    <ul class="redesSociales">
        <li><a href="https://twitter.com/home?lang=es" target="_blank"><img class="fotos" src="../assets/img/icons8-twitter.svg" alt="twitter"></a></li>
        <li><a href="https://www.youtube.com/c/CoderHouse"target="_blank"><img class="fotos" src="../assets/img/youtube-svgrepo-com.svg" alt="youtube"></a></li>
        <li><a href="https://web.telegram.org/k/" target="_blank"><img  class="fotos" src="../assets/img/telegram-svgrepo-com.svg"target="_blank" alt="telegram"></a></li>
    </ul>
</div>


    <div class="parrafo--footer">
        <p>XLCRYPTO/2022 TODOS LOS DERECHOS RESERVADOS.</p>
    </div>

</footer>
</body>
</html>